<section class="container page">
  <article>
    {{ if .Params.TitleOnPage }}
    <header>
      <h1 class="title">
        <a class="title-link" href="{{ .Permalink | safeURL }}">
          {{ .Title }}
        </a>
      </h1>
    </header>
    {{ end }}

    {{ if .Params.toc }}
      <nav class="page-toc" aria-label="Table of contents">
        <details>
          <summary>
            <h2>
              Table of Contents
            </h2>
          </summary>

          {{ .TableOfContents }}

        </details>
      </nav>
    {{ end }}

    {{ .Content }}
  </article>
</section>
